.keyboard > .key-row > .key {
  min-width: 30px;
  height: 40px;
  margin: 4px;
  padding: 2px;
  border-radius: 3px;
  background-color: gray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard > .key-row > .key.partial-match {
  background-color: #d6cc3c;
}

.keyboard > .key-row > .key.match {
  background-color: #4bb33b;
}

.keyboard > .key-row > .key.no-match {
  background-color: #3a3a3c;
}
